/* css using external file  */

.container{
    height: 1111px;
    width: 666px;
    border: 3px solid rgb(17, 182, 99);
    margin-left: 444px;
    margin-top: 30px;
    padding: 10px;
    border-radius: 25px;
}

#cont{
    height: 30px;
    width: 666px;
    border: 4px solid rgb(46, 4, 4);
    margin-left: 444px;
    padding: 10px;
    text-align: center;
    color: rgb(20, 6, 32);
    background-color: aqua;
    border-radius: 50px;
}

/* end of external css file */
